{% extends 'KDSMContentBundle::main.base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/3.11.0/vis.min.js"></script>

    <script type="text/javascript">
        var container = document.getElementById('visualization');
        var items = [
            {x: '2014-06-11', y: 10},
            {x: '2014-06-12', y: 25},
            {x: '2014-06-13', y: 30},
            {x: '2014-06-14', y: 10},
            {x: '2014-06-15', y: 15},
            {x: '2014-06-16', y: 30}
        ];

        var dataset = new vis.DataSet(items);
        var options = {
            start: '2014-06-10',
            end: '2014-06-18',
            drawPoints: false
        };
        var graph2d = new vis.Graph2d(container, dataset, options);
    </script>

{% endblock %}

{% block content %}
    <div id="visualization" class="col-sm-6" style="background-color: #f5f5f5"></div>
{% endblock %}