{% extends "::base.html.twig" %}

{% block title %}KDSMFirstPagesBundle:Home:index{% endblock %}

{% block body %}
<h1>Welcome to the Home:index page</h1>
    <a href="{{ path('reservationpage') }}">Go to reservation page.</a>
{% endblock %}
