{% extends 'KDSMContentBundle::main.base.html.twig' %}
{% block content %}
    <div class="user-view">
        <div class="row">
            <div class="user-view-top">
                <div class="row">
                    <div class="col-sm-4 user-photo">
                        <img src="" alt=""/>
                    </div>
                    <div class="col-sm-6 user-main-info">
                    </div>
                </div>
            </div>
            <div class="user-view-bottom">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
{% endblock %}