{% extends "::base.html.twig" %}

{% block title %}KDSMFirstPagesBundle:Reservation:index{% endblock %}

{% block body %}
<h1>Welcome to the Reservation:index page</h1>
    <a href="{{ path('homepage') }}">Return to homepage</a>
{% endblock %}
