{% extends "::base.html.twig" %}

{% block title %}KDSMFirstPagesBundle:Reservation:index{% endblock %}

{% block body %}
<h1>Welcome to the Reservation page</h1>
    <ul>
        {% for link in navigation %}
            <li><a href="{{ path(link.path) }}">Go to {{ link.name }}.</a></li>
        {% endfor %}
    </ul>
{% endblock %}
