body {

}

/* General classes */
.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.wrapper {
    background: rgba(226, 226, 226, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.result-page {
    margin-top:10%;
}

.result_box {
    height: 50%;
    display: block;
    overflow: hidden;
    text-align: center;
}

.result_box span.result {
    font-size:10em;
}

.result_box span.separator {
    padding:0 5%;
}

/* Users */
.users-list {

}

.search-box {
    border: 1px solid #BABABA;
    padding: 3% 5%;
    margin-bottom: 20px;
}

.search-box label {
    display: block;
}

.search-box input {
    width: 80%;
    padding: 5px 10px;
}

.found-user-list {

}

/* Sidebar */
.sidebar {
    height: 100%;
    background: #212121;
    position:fixed;
    left: 0;
    top: 0;
}

.user-info {
    height: 25%;
}

.user-info img {
    max-width: 60%;
    max-height: 60%;
    margin: 5% auto;
    display: block;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.user-info span.user-name {
    display: block;
    height:10%;
    color:white;
    font-size: 1.2em;
    font-family: Open Sans !important;
    font-weight: 400;
}

.user-info span.notifications-icon {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #F57C00;
    position: absolute;
    left: 60%;
    text-align: center;
    line-height: 35px;
    font-size: 1.4em;
    color: white;
    top: 1%;
}

.sidebar-width-to-right {
    position:relative;
    left: 18%;
}

.sidebar-nav {

}

.sidebar-nav ul {

}

.sidebar-nav ul li {
    padding: 3% 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar-nav ul li a {
    text-align: center;
    color: #757575;
}

.sidebar-nav ul li a i {
    font-size: 2.5em;
    display: block;
    font-family: FontAwesome;
    padding: 3% 0;
}

.sidebar-nav ul li a span {
    font-size: 1.2em;
    font-family: Open Sans !important;
    font-weight: 300;
}

.sidebar-nav ul li:hover,
.sidebar-nav ul li.active {
    background: #121212 !important;
    border-left: 3px solid #F57C00;
}

.sidebar-nav ul li:hover a,
.sidebar-nav ul li.active a {
    color: #fff;
    background: #121212 !important;
}

