body {
    padding: 0;
    margin: 0;
    background: rgba(226, 226, 226, 0.6);
    font-family: Open Sans !important;
    font-weight: 400;
    color: #222;
    font-size: 14px;
}

header {
    background: rgba(0, 0, 0, 0.6);
    height: 8em;
}

.logo {
    margin-top:20px;
}

.wallpaper {
    background-image: url('../images/background2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background1.jpg',sizingMethod='scale')";
}

.full-screen {
    position: absolute;
    background-attachment: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.result-page {
    margin-top:10%;
}

.content-heading h4 {
    background: rgba(0,0,0,0.8);
    padding: 1em 2em;
    margin: 0;
    color: white;
    margin: 1em 0 1em 0;
}

table {
    background: rgba(0, 0, 0, 0.9) !important;
    color:white;
}

table td {
    border-color: #222222 !important;
}

/* Login Form */
.login-form,
.register-form{
    float: none;
    margin: 2em auto;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.login-form h2,
.register-form h2{
    font-family: 'Roboto', 'PT Sans', sans-serif;
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #CACACA;
}

.login-form input.field {
    display: block;
    padding: 0.7em 1em;
    margin: 1em auto;
}

#fos_user_registration_form > div {
    margin: 1em 0;
}

.register-form label {
    color:white;
    font-weight: 300;
    display: inline-block;
    width: 35%;
}

.register-form input[type=text],
.register-form input[type=email],
.register-form input[type=number],
.register-form input[type=password] {
    padding: 0.2em 0.4em;
    width: 60%;
}

.login-form label.remember-me-label {
    font-weight: 400;
    color: #95a5a6;
    display: inline-block;
    margin-top: 6px;
}

.login-form input[type=checkbox] {
    height: 1.5em;
    width: 1.5em;
    float: left;
    margin: 5px;
}

.login-form input[type=checkbox]:before{
    width: 20px;
    height: 20px;
}

.login-form input[type=checkbox]:after {
    top: -20px;
    width: 16px;
    height: 16px;
}

.login-form input[type=submit],
.register-form input[type=submit] {
    background-color: #F48E2B;
    border: none;
    padding: 0.5em 2em;
    color: white;
    border-color: #CB6E13;
    display: block;
    margin: 0 auto;
}
/* Users */
.users-list {

}

.search-box {
    border: 1px solid #BABABA;
    padding: 3% 5%;
    margin-bottom: 20px;
}

.search-box label {
    display: block;
}

.search-box input {
    width: 80%;
    padding: 5px 10px;
}

.found-user-list {

}

/* Sidebar */
.sidebar {
    height: 100%;
    background: #212121;
    position:fixed;
    left: 0;
    top: 0;
}

.user-info {
    height: 25%;
}

.user-info img {
    max-width: 60%;
    max-height: 60%;
    margin: 5% auto;
    display: block;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.user-info span.user-name {
    display: block;
    height:10%;
    color:white;
    font-size: 1.2em;
    font-family: Open Sans !important;
    font-weight: 400;
}

.user-info span.notifications-icon {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4CAF50;
    position: absolute;
    left: 60%;
    text-align: center;
    line-height: 35px;
    font-size: 1.4em;
    color: white;
    top: 1%;
}

.sidebar-nav {

}

.sidebar-nav ul {

}

.sidebar-nav ul li {
    padding: 3% 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar-nav ul li a {
    text-align: center;
    color: #757575;
}

.sidebar-nav ul li a i {
    font-size: 2.5em;
    display: block;
    font-family: FontAwesome;
    padding: 3% 0;
}

.sidebar-nav ul li a span {
    font-size: 1.2em;
    font-family: Open Sans !important;
    font-weight: 300;
}

.sidebar-nav ul li:hover,
.sidebar-nav ul li.active {
    background: #121212 !important;
    border-left: 3px solid #4CAF50;
}

.sidebar-nav ul li:hover a,
.sidebar-nav ul li.active a {
    color: #fff;
    background: #121212 !important;
}

/* Main page content */
.main-content {
    position: relative;
    float: none;
    margin: 0 auto;
}

.main-content.after-fixed-sidebar {
    left:8%;
}

/* Logged homepage*/

.result-box {
    height: 50%;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 5% 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 2em 1em;
    border: 1px solid black;280
}

.result-box span.result {
    font-size: 5.4em;
    font-family: Open Sans !important;
    font-weight: 400;
    font-style: italic;
    color: #4CAF50;
}

.result-box span.separator {
    padding:0 5%;
}

.user-photo {
    width: 50.5%;
    border: 1px solid #BABABA;
    padding: 2%;
    background: white;
}

.user-photo img {

}

/* Tables */
table {
    background: white;
}

table th {
    background: #4CAF50;
    border: none !important;
    color: white;
    font-family: Open Sans !important;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}